<a href="https://github.com/exvim/main">
    <img style="z-index: 901; position: fixed; top: 0; right: 0; width:150px; height:150px" src="/images/forkme.png" alt="Fork me on GitHub">
</a>
<div id="navbar">                                   
    <div class="content">                                   
        <div class="menu">                                   
            <a href="/">Home</a>
            <a href="/downloads">Downloads</a>
            <a href="/docs">Docs</a>
            <a href="https://github.com/exvim/main">GitHub</a>
            <a href="/about">About</a>
        </div>                                               
    </div>                                               
    <div class="clear"></div>
</div>                                               
