<a href="https://github.com/exvim/main">
    <img style="z-index: 901; position: fixed; top: 0; right: 0; width:150px; height:150px" src="/images/forkme.png" alt="Fork me on GitHub">
</a>
<div id="navbar">                                   
    <div class="content">                                   
        <div class="menu">                                   
            {% if page.url == "/" %}
            <a class="active" href="/">Home</a>
            {% else %}
            <a href="/">Home</a>
            {% endif %}

            {% if page.url == "/downloads/" %}
            <a class="active" href="/downloads">Downloads</a>
            {% else %}
            <a href="/downloads">Downloads</a>
            {% endif %}

            {% if page.url == "/docs/" %}
            <a class="active" href="/docs">Docs</a>
            {% else %}
            <a href="/docs">Docs</a>
            {% endif %}

            <a href="https://github.com/exvim/main">GitHub</a>

            {% if page.url == "/about/" %}
            <a class="active" href="/about">About</a>
            {% else %}
            <a href="/about">About</a>
            {% endif %}
        </div>                                               
    </div>                                               
    <div class="clear"></div>
</div>                                               
