/*** Basics ***/

::selection {
    color: inherit;
    background: #386774;
    text-shadow: #002b36 0 2px;
}

html, body {
	background-color: #002a35;
	color: #839496;
}

a, a:active, a:visited {
	color: #2aa198;
	border-color: #073642;
	text-decoration: none;
	/* border-bottom: 1px solid #839496; */
	padding-bottom: 2px;
}

a:hover {
	background-color: #073642;
	border-color: #073642;
	color: #2aa198;
}

div.highlight { margin-bottom: 20px; }
ul, ol { padding: 0 0 18px 30px; }
li>ul { padding-bottom: 0px; }
/* ol li, ul li { margin-top: 5px; margin-bottom: 5px; } */
em, i { font-style: italic; }
strong, b { font-weight: bold; color: rgb(200, 200, 200); }
small { font-size: 0.85em; }
sup { vertical-align: super; font-size: 0.85em; }
sub { vertical-align: sub; font-size: 0.85em; }

p code, li code, td code {                        
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 14px;
    background-color: #073642;
    color: #719e07;              
    border: solid 1px #2E545E;
    border-radius: 3px;
    font-weight: normal;
}                             
p code:before, p code:after, 
li code:before, li code:after,
td code:before, td code:after {
    content: "\00a0";
    letter-spacing: -0.2em;
}

.highlight code {
    font: 0.85em Monaco, Courier, Monospace;
    color: #93a1a1;
    background-color: transparent;
    border: none;
}
.highlight code:before, .highlight code:after {
    display: none;
}

blockquote {
    margin: 22px 22px;
    padding: 0 20px;
    border-left: 2px solid #000000;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5em;
	border-color: #cb4b16;
}

acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}

h1 {
	color: #cb4b16;
	font-size: 35px;
    font-weight: bold;
	margin: 0 0 20px 0;
}

h1 a, h1 a:visited, h1 a:active {
	color: #cb4b16;
}

h1 a:hover {
	background-color: #073642;
	border-color: #073642;
	color: #cb4b16;
}

h2 {
	color: #cb4b16;
	font-size: 24px;
	margin: 0 0 20px 0;
    border-bottom: 2px solid;
}

h3 {
	color: #cb4b16;
	font-size: 20px;
	margin: 0 0 20px 0;
}

table {
    margin: 20px 20px 30px 20px;
}

table th {
    background: #000;
    font-weight: bold;
}

table td {
    background: #333;
}

table td, table th {
    padding: 10px;
    border: solid 1px #272727;
}

/*** Useful Classes ***/

.clear { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.img-left { float: left; margin: 4px 10px 4px 0; }
.img-right { float: right; margin: 4px 0 4px 10px; }
.img-middle { vertical-align: middle; }
.nopadding { padding: 0; }
.nounderline { text-decoration: underline; }

/*** Structure ***/

#header {
	width: 500px;
	margin: 40px auto 50px auto;
}
#header h1 {
	font-size: 32px;
	margin-bottom: 4px;
}
#header h1 a {
	border: none;
}

#footer {
    margin: 50px auto 20px auto;
    padding-top: 10px;          
	font-size: 0.85em;
	border-top: 1px solid #073642;
}

#forkme {
    z-index: 901;
}

#navbar {
    background: rgba( 0, 0, 0, 0.8);
}

#navbar .top-bar {
    background: rgba( 0, 0, 0, 0.0);
}

#navbar .menu {
    font-weight: bold;
    font-size: 18px;
}

#navbar .menu>a {
    margin-right: 20px;
    /* transition: all .2s ease-out; */
    border-bottom: 5px solid transparent;
}
#navbar .menu>a:hover {
    margin-right: 20px;
	background-color: transparent;
    color: #fff;
    /* border-bottom: 5px solid #fff; */
}

#navbar .menu>a.active {
    margin-right: 20px;
	background-color: transparent;
    color: #fff;
    border-bottom: 5px solid #fff;
}

#page {
    padding-top: 2.8125rem;
}

#sidebar {
    background: #073642;
    margin-top: 2.8125rem;
    border-right: 1px solid black;
    float: left;
    position: fixed;
    height: 100%;
}

#sidebar a:hover {
	color: #fff;
	background-color: #073642;
}

#sidebar a.active {
	color: #000000;
	background-color: #adadad;
}

#sidebar>ul {
    padding: 10px 15px 10px 15px;
    text-align: left;
    margin-left: 0rem;
}
#sidebar>ul>li {
    list-style-type: none;
}
#sidebar>ul>li>a {
    display: block;
    padding: 0px;
    color: #888;
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
}

/*** Pygments ***/

.highlight {
	background-color: #073642;
	color: #93a1a1;
	border: 2px solid #2E545E;
    /* border-radius: 3px 3px 3px 3px; */
    overflow: auto;
}
.highlight .c{color:#586e75 !important;font-style:italic !important}.highlight .cm{color:#586e75 !important;font-style:italic !important}.highlight .cp{color:#586e75 !important;font-style:italic !important}.highlight .c1{color:#586e75 !important;font-style:italic !important}.highlight .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important}.highlight .err{color:#dc322f !important;background:none !important}.highlight .k{color:#cb4b16 !important}.highlight .o{color:#93a1a1 !important;font-weight:bold !important}.highlight .p{color:#93a1a1 !important}.highlight .ow{color:#2aa198 !important;font-weight:bold !important}.highlight .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block}.highlight .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block}.highlight .ge{color:#93a1a1 !important;font-style:italic !important}.highlight .gr{color:#aa0000}.highlight .gh{color:#586e75 !important}.highlight .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block}.highlight .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block}.highlight .go{color:#888888}.highlight .gp{color:#555555}.highlight .gs{color:#93a1a1 !important;font-weight:bold !important}.highlight .gu{color:#6c71c4 !important}.highlight .gt{color:#aa0000}.highlight .kc{color:#859900 !important;font-weight:bold !important}.highlight .kd{color:#268bd2 !important}.highlight .kp{color:#cb4b16 !important;font-weight:bold !important}.highlight .kr{color:#d33682 !important;font-weight:bold !important}.highlight .kt{color:#2aa198 !important}.highlight .n{color:#268bd2 !important}.highlight .na{color:#268bd2 !important}.highlight .nb{color:#859900 !important}.highlight .nc{color:#d33682 !important}.highlight .no{color:#b58900 !important}.highlight .ni{color:#800080}.highlight .nl{color:#859900 !important}.highlight .ne{color:#268bd2 !important;font-weight:bold !important}.highlight .nf{color:#268bd2 !important;font-weight:bold !important}.highlight .nn{color:#b58900 !important}.highlight .nt{color:#268bd2 !important;font-weight:bold !important}.highlight .nx{color:#b58900 !important}.highlight .bp{color:#999999}.highlight .vc{color:#008080}.highlight .vg{color:#268bd2 !important}.highlight .vi{color:#268bd2 !important}.highlight .nv{color:#268bd2 !important}.highlight .w{color:#bbbbbb}.highlight .mf{color:#2aa198 !important}.highlight .m{color:#2aa198 !important}.highlight .mh{color:#2aa198 !important}.highlight .mi{color:#2aa198 !important}.highlight .mo{color:#009999}.highlight .s{color:#2aa198 !important}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#2aa198 !important}.highlight .s2{color:#2aa198 !important}.highlight .se{color:#dc322f !important}.highlight .sh{color:#d14}.highlight .si{color:#268bd2 !important}.highlight .sx{color:#d14}.highlight .sr{color:#2aa198 !important}.highlight .s1{color:#2aa198 !important}.highlight .ss{color:#990073}.highlight .il{color:#009999}.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%}

.highlight ::selection {
    color: inherit;
    background: #0884ca;
    text-shadow: #000 0 1px;
}

.highlight pre {
    padding: 6px 10px;
}

.highlight pre::-webkit-scrollbar {
    height: .5em;
    background: rgba(255,255,255,0.15);
}

.highlight pre::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    /* border-radius:4px; */
    border-radius: 0px;
}
.highlight pre::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.4);
    border-radius: 0px;
}

/*** Posts ***/

img.left {
	float: left;
	margin: 0 1em 1em 0;
}
img.right {
	float: right;
	margin: 0 0 1em 1em;
}
img.center {
	display: block;
	text-align: center;
	margin: 0 auto 1em auto;
}

/*** Media Queries ***/

/* @media all and (max-width: 870px) {     */

/*     #page, #header, #content, #footer { */
/*         width: inherit;                 */
/*         padding-left: 10px;             */
/*         padding-right: 10px;            */
/*     }                                   */

/*     #sidebar {                          */
/*         position: relative;             */
/*         text-align: left;               */
/*         width: 100%;                    */
/*         left: 0;                        */
/*         margin: 10px 10px 20px 10px;    */
/*     }                                   */

/*     #sidebar nav select.mnav {          */
/*         display: block;                 */
/*         margin-bottom: 15px;            */
/*     }                                   */

/* }                                       */

/*** Icons ***/

@font-face {
  font-family: 'solarthemeicons';
  src: url('../fonts/solarthemeicons.eot');
  src: url('../fonts/solarthemeicons.eot#iefix') format('embedded-opentype'),
       url('../fonts/solarthemeicons.woff') format('woff'),
       url('../fonts/solarthemeicons.ttf') format('truetype'),
       url('../fonts/solarthemeicons.svg#solarthemeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "solarthemeicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1.7;
}
 
.icon-sun:before { content: '\e801'; }
.icon-anchor:before { content: '\e800'; }
.icon-anchor {
	font-size: 65%;
}
