<!DOCTYPE html>
<html>
<head>
{% include header.html %}
</head>

<body>
{% include navbar.html %}

<div id="sidebar">                                                                  
    <ul>                                                                                                    
        <h2>exVim Contents</h2>                                                                             
        {% for item in site.doc_content %}                                                                  
            {% assign active = nil %}                                                                       
            {% if page.url contains item.url %}                                                             
                {% assign active = 'active' %}                                                              
            {% endif %}                                                                                     
            <li><a class="{{ active }}" href="{{ site.baseurl }}docs{{ item.url }}">{{ item.text }}</a></li>
        {% endfor %}                                                                                        
    </ul>                                                                                                   
</div>                                                                                                      


<div id="page" class="row">
    <div class="medium-9 medium-centered columns content">
        {{ content }}
    </div>
</div>

{% include footer.html %}
</body>

</html>
