<!DOCTYPE html>
<html>
<head>
{% include header.html %}
</head>

<body>
{% include navbar-docs.html %}

<div id="page">
    <div id="sidebar">
        <ul>
            <h2>exVim Contents</h2>
            <li><a href="{{ site.baseurl }}docs/intro">Intro</a></li>
            <li><a href="{{ site.baseurl }}docs/install">Install</a></li>
            <li><a href="{{ site.baseurl }}docs/getting-start">Getting Start</a></li>
            <li><a href="{{ site.baseurl }}docs/config-project">Config .exvim File</a></li>
            <li><a href="{{ site.baseurl }}docs/config-vimrc">Customise .vimrc</a></li>
            <li><a href="{{ site.baseurl }}docs/plugins">Plugins</a></li>
            <li><a href="{{ site.baseurl }}docs/known-issues">Known Issues</a></li>
        </ul>
    </div>

    <div class="content" style="float:right; width:700px">
        {{ content }}
    </div>

    <div class="clear"></div>
</div>

{% include footer.html %}
</body>

</html>
