<!DOCTYPE html>
<html>
<head>
{% include header.html %}
</head>

<body>
{% include navbar-docs.html %}

<div id="sidebar">
    <h2>用户手册</h2>
    <ul>
        {% for item in site.user_manual_zh %}
        {% assign active = nil %}
        {% if page.url contains item.url %}
        {% assign active = 'active' %}
        {% endif %}
        <li><a class="{{ active }}" href="{{site.url}}/docs-zh{{item.url}}">{{ item.text }}</a></li>
        {% endfor %}
    </ul>

    <h2>开发者手册</h2>
    <ul>
        {% for item in site.dev_manual_zh %}
        {% assign active = nil %}
        {% if page.url contains item.url %}
        {% assign active = 'active' %}
        {% endif %}
        <li><a class="{{ active }}" href="{{site.url}}/docs-zh{{item.url}}">{{ item.text }}</a></li>
        {% endfor %}
    </ul>
</div>


<div id="page" class="row">
    <div class="medium-9 medium-centered columns content">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
</div>

{% include footer.html %}
</body>

</html>
