<!DOCTYPE html>
<html>
<head>
{% include header.html %}
</head>

<body>
{% include navbar.html %}

<div id="page" class="center">

    <p>
    <img src="{{site.baseurl}}images/logo.png" alt="exVim Logo" style="
    margin-left: auto;
    margin-right: auto;
    display: block;
    ">
    </p>

    <p style="
        margin: 0px;
        text-align: center;
        font-weight: bold;
        ">Current Version: v0.1.0</p>

    <div class="content">
        {{ content }}
    </div>
</div>

{% include footer.html %}
</body>

</html>
